@import "tailwindcss";



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(130deg, #00193C, #000718);
    /* --background: black; */
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Geist Mono";
}

html {
  scroll-behavior: smooth;
}


:root {
  --background: white;
  --foreground: black;
}

.dark {
  --background: #000000;
  --foreground: white;
}

.light {
  --background: #e5e5e5;
  --foreground: black;
}

.light #link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.light #separator {
  color: rgba(0, 0, 0, 0.1);
}

.light #imginvert {
  filter: invert(1) brightness(0);
}

.light #bgchange {
  background-color: rgba(0, 0, 0, 0.1);
}

.light #leaf {
  color : black;
}